<% content_for :content do %>
  <ul id="subjects">
    <% @books.each do |book| %>
      <li> <%= book %> </li>
    <% end %>
  </ul>
  <p> This code has been added from list view inside de yield(:content) </p>
<% end %>
