<!DOCTYPE html>
<html>
  <head>
    <title>Learing Layouts</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body id="library">
    <div class="container">
      <div id="header">
        <h1> Library Info System </h1>
        <h3> Library powered by Ruby on Rails </h3>
      </div>

      <div class="content">
        <%= yield :content %>
      </div>

    </div>
  </body>
</html>
